// main: ../main.less

.blog{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &__item{
        width: 31%;
        &:last-child{
            margin-right: 0;
        }
    }

    &__photo{
        margin-bottom: 18px;

        position: relative;

        img{
            display: block;
            max-width: 100%;
            height: auto;
        }
    }

    &__date{
        position: absolute;
        bottom: 10px;
        left: -10px;
        background-color: #95e1d3;
        padding: 10px 15px;
        text-align: center;
        font-size: 12px;
        font-style: italic;
        color: #fff;

        div{
            font-size: 30px;
            font-style: normal;
            font-weight: 700;
            line-height: 1;
        }
    }

    &__title{
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 600;
        margin-bottom: 18px;

        a{
            text-decoration: none;
            color: #333;
        }
    }

    &__text{
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
        font-weight: 300;
        color: #999;
        padding-bottom: 15px;

        border-bottom: 1px solid #e5e5e5;
    }

    &__stat{
        margin-top: 15px;
    }

    span{
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
        font-weight: 300;
        color: #999;
        margin-right: 15px;

        &:last-child{
            margin-right: 0;
        }
    }

    // MEDIA
    @media @tablet{
        &{
            justify-content: center;
        }
        &__item{
            width: 100%;
            max-width: 380px;
            margin-bottom: 30px;

            &:last-child{
                margin-bottom: 0;
            }
        }
    }
}