// main: ../main.less

.header{
    width: 100%;
    padding-top: 15px;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    

    &__inner{
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
    }

    &__logo{
        // font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 30px;
        color: #fff;
    }

}

