// main: ../main.less

.reviews{
    
    &__inner{
        padding: 120px 110px;

        position: relative;
    }

    &--grey{
        background-color: #f8f8f8;
    }

    &__item{
        padding-left: 205px;

        position: relative;

        &--avatar{
            padding-left: 280px;
        }
    }

    &__photo{
        width: 150px;
        position: absolute;
        top: 50%;
        left: 0;
        z-index: 1;

        transform: translateY(-50%);
    }

    &__text{
        font-family: 'Roboto', sans-serif;
        font-size: 24px;
        font-weight: 300;
        font-style: italic;
        color: #999;

        margin-bottom: 10px;
    }

    &__author{
        font-family: 'Kaushan Script', cursive;
        font-size: 24px;
        

        &:before{
            display: inline-block;
            content: "";
            vertical-align: middle;
            width: 65px;
            height: 3px;
            background-color: #f38181;
            margin-right: 10px;
        }
    }

    &__btn{
        font-size: 0;
        color: transparent;
        position: absolute;
        top: 50%;
        z-index: 1;
        transform: translateY(-50%);

        &:after{
            content: '';
            display: block;
            width: 16px;
            height: 16px;

            border-top: 2px solid #ccc;
            border-left: 2px solid #ccc;
        }

        &--prev{
            left: 10px;
            transform: rotate(-45deg);
        }

        &--next{
            right: 10px;
            transform: rotate(135deg);
        }
    }

    // MEDIA
    @media @desktop{
        &__text{
            font-size: 20px;
        }
    }

    @media @laptop{
        &__inner{
            padding: 80px;
        }
        
        &__item{
            padding-left: 180px;
        }

        &__text{
            font-size: 18px;
        }
    }

    @media @tablet{
        &__inner{
            padding: 50px;
        }
        
        &__item{
            padding-left: 120px;
        }

        &__photo{
            width: 100px;
        }

        &__text{
            font-size: 15px;
        }

        &__author{
            font-size: 20px;

            &:before{
                width: 50px;
            }
        }
    }

    @media @mobile{
        &__inner{
            padding: 30px;
        }
        
        &__item{
            padding: 0 10px;
            text-align: center;
        }

        &__photo{
            width: 70px;
            position: static;
            transform: translateY(0);
            margin-bottom: 10px;
        }

        &__text{
            font-size: 12px;
        }

        &__author{
            font-size: 16px;

            &:before{
                width: 35px;
            }
        }
    }
}