// main: ../main.less

.section{
    padding: 80px 0;

    &--devices{
        
        background: url('../images/devices/bg.jpg') center no-repeat;
        background-size: cover;

        padding-bottom: 0;
    }

    &__header{
        width: 100%;
        max-width: 950px;
        margin: 0 auto 50px;
        text-align: center;
    }

    &__suptitle{
        font-family: 'Kaushan Script', cursive;
        font-size: 24px;
    }

    &__title{
        font-size: 30px;
        font-weight: 700;

        &:after{
            display: block;
            content: '';
            background-color: #f38181;
            width: 5%;
            height: 3px;
            margin: 30px auto;
        }
    }

    &__text{
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
        color: #b9b9b9;
    }
}

// Wrapper for layout (device section)
// .wrapper{
//     width: 100%;
//     background: rgba(255, 255, 255, 0.85);

// }